Flask==2.3.0
Flask-SQLAlchemy==3.0.3
Flask-JWT-Extended==4.4.4
Flask-CORS==4.0.0
python-dotenv==1.0.0
werkzeug==2.3.0
gunicorn==21.2.0
psycopg2-binary>=2.9.10
flask-caching==2.0.2
flask-compress==1.13
